@model IEnumerable<FinalFour.Models.Pick>
@{
    ViewData["Title"] = "Consulta";
    int a=0;
    int b = 0;
    string color="table-primary";
    float? apostado = 0;
    float? perdida = 0;
    float? suma = 0;
    float? utilidad = 0;

}
<h2>Administrador</h2>
<p>Control de apuestas ganadas/perdidas</p>

<table class="table">
    <tr>
         <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apuesta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Momio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model) {
        @if (item.Resultado == 1)
        {
            a++;
            @if (item.Momio > 0)
            {
                suma = item.Monto * item.Momio / 100;
                
            }
            else
            {
                suma = ((100)/(item.Momio)*(-1))* item.Monto;
            }

            utilidad+= suma;
            color = "table-success";

            }
            @if(item.Resultado==2)
            {
                b++;
            perdida += item.Monto;
            color = "table-danger";
        }
        <tr class=@color>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apuesta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Momio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        
        </tr>
        apostado+= item.Monto;
    }
</table>
<table class="table">
    <tr>
        <th>GANADORA</th>
        <th>NO GANADORA</th>
        <th>APOSTADO</th>
        <th>UTILIDAD</th>
        <th>PERDIDAS</th>
    </tr>

    <tr>
        <td>@a</td>
        <td>@b</td>
        <td>@apostado</td>
        <td>@utilidad</td>
        <td>@perdida</td>
    </tr>
</table>